header{
    background-color: aliceblue;
}
.titulo-principal  {
    text-align: center;
}
.entrada-texto{
    background: yellow;
}
.salida-texto{
    background: #CCC;
}
#imagen-munieco{
    background-color: #AAA;
}
footer{
    background-color:#FF91AF;
}
.invisible{
    display: none;
}